@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-slide {
    margin: 0 15px;
} */

.banner-img {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.slick-prev,
.slick-next {
    display: none !important;
}